@namespace epub "http://www.idpf.org/2007/ops";


/*Document Styles*/
section[epub|type~='subchapter'] {
  margin-top: 2em;
}
/*Character Styles*/

em{
  font-style: italic;
}

/*Paragraph Styles*/

p{
  text-indent:1em;
  margin:0;
}

section p:first-of-type{
  text-indent:0;
}
dd{
  margin-left: 1em;
  margin-bottom: 1em;

}

dt{
  font-style:italic;
}

/*Image Styles*/

img{
  width:80%;
  margin: 0 10%;
}

/*Unused (Clean Me in CSS & HTML)
em.publication{}
em.french{}
*/
